@import '../../../styles/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: #4a154b;
  padding: 16px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

mat-icon {
  font-size: 26px !important;
  cursor: pointer;
}

.navigations {
  cursor: pointer;
  height: inherit;
  display: flex;
  align-items: center;
}
